{% load i18n %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>{% trans "Help Files" %} </title>
    <link href="/static/css/chess.css" type="text/css" rel="stylesheet"></link>
</head>
<body id="tab_on" class="body">
    <ul id="tabnav">
        <li class="tab_off"> <a target="_top" href="{{ sns.homeurl }}">
            {% trans "Chess Arena" %} </a></li>
        <li class="tab_off"> 
            <a target="_blank" href="{{ sns.invitePage }}"> 
                {% trans "Invite Friends" %} </a></li>
        <li class="tab_off"> <a target="_blank" href="{{ sns.homeurl }}/rank"> 
            {% trans "RankList" %} </a></li>
        <li class="tab_on"> <a target="_top" href="{{ sns.homeurl }}/help">
            {% trans "Help Files" %} </a></li>
        <li class="tab_off"> <a target="_blank" href="{{ sns.topurl }}/chchess/"> 
            {% trans "Play chess with others" %}</a></li>
    </ul>

    {% ifequal sns.src 'FB' %}
    <!-- Note: Include this div markup as a workaround for a known bug in this release on IE 
        where you may get a "operation aborted" error --> 
    <div id="FB_HiddenIFrameContainer" 
        style="display:none; position:absolute; left:-100px; top:-100px; width:0px; height: 0px;">
    </div>
    <script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" 
        type="text/javascript"> </script>
    <script type="text/javascript"> 
        FB_RequireFeatures(["CanvasUtil"], function(){ 
                FB.XdComm.Server.init('/chchess'); 
                FB.CanvasClient.startTimerToSizeToContent(); 
                }); 
    </script>
    {% endifequal %}

    <div class="nav">
        <h3> {% trans "Game rules" %} </h3>
        game rules here
    </div>
    <div> {% trans "Still under construction" %} </div>
    <div class="nav">
        <h3> {% trans "Game scores" %} </h3>
        game description for scores here
    </div>
    <div> </div>

    <div>
        {% trans "CopyRight@2010" %}
    </div>
</body>
</html>

