{% load i18n %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>{% trans "Chinese Chess" %} {% trans "RankList" %} </title>
    <link href="/static/css/chess.css" type="text/css" rel="stylesheet"></link>
</head>
<body id="tab_on" class="body">
    <ul id="tabnav">
        <li class="tab_off"> <a target="_top" href="{{ sns.homeurl }}"> 
            {% trans "Chess Arena" %} </a></li>
        <li class="tab_off"> 
            <a target="_blank" href="{{ sns.invitePage }}"> 
                {% trans "Invite Friends" %} </a></li>
        <li class="tab_on"> <a target="_top" href="{{sns.homeurl}}/rank"> 
            {% trans  "RankList" %} </a></li>
        <li class="tab_off"> <a target="_blank" href="{{sns.topurl}}/chchess/"> 
            {% trans "Play chess with others" %}</a></li>
    </ul>

    {% ifequal sns.src 'FB' %}
    <!-- Note: Include this div markup as a workaround for a known bug in this release on IE 
        where you may get a "operation aborted" error --> 
    <div id="FB_HiddenIFrameContainer" 
        style="display:none; position:absolute; left:-100px; top:-100px; width:0px; height: 0px;">
    </div>
    <script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" 
        type="text/javascript"> </script>
    <script type="text/javascript"> 
        FB_RequireFeatures(["CanvasUtil"], function(){ 
                FB.XdComm.Server.init('/chchess'); 
                FB.CanvasClient.startTimerToSizeToContent(); 
                }); 
    </script>
    {% endifequal %}

    <div class='nav'> <h3> {% trans "RankList" %}
        <a target='_top' href='{{sns.homeurl}}/rank'>{% trans "Top20" %} </a>
        <a target='_top' href='{{sns.homeurl}}/rank?rev=1'>{% trans "Bottom20" %}</a>
    </h3></div>
    <table border='0' style="text-align:center;">
        <thead>
            <th width='80'> {% trans "Rank" %} </th>
            <th width='200'> {% trans "Player(s)" %} </th>
            <th width='80'> {% trans "SNS" %} </th>
            <th width='80'> {% trans "Score" %} </th>
            <th width='80'> {% trans "Win" %} </th>
            <th width='80'> {% trans "Lose" %} </th>
            <th width='80'> {% trans "Draw" %} </th>
        </thead>
    {% for u in users %}    
        <tr>
        <td> {{ forloop.counter }} </td>
        <td> <img alt='{{ u.name }}' class='big'
                src='{{ u.icon|default_if_none:"/favicon.ico" }}'></img> <br>
              <a title='{% trans "Visit home page" %}' target='_blank' 
                href='{{ u.getProfileUrl }}'> {{ u.name }} </a>
         </td>
         {% ifequal u.src "XN" %}
         <td> {% trans "XN" %} </td>
         {% else %}
         <td> {% trans "FB" %} </td>
         {% endifequal %}
         <td> {{ u.score}} </td>
         <td> {{ u.win }}  </td>
         <td> {{ u.lose }} </td>
         <td> {{ u.draw }} </td>
        </td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>

