{% load i18n %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>{% trans "Rotate Mono" %} {% trans "Recent Results" %} </title>
    <link href="/static/css/chess.css" type="text/css" rel="stylesheet"></link>
    <script type="text/javascript">
        var dat = new Date();
        function formatTime(h, m, s){
            dat.setUTCHours(h, m, s);
            var str = dat.toTimeString();
            str = str.split(" ", 2);
            document.write(str[0]);
        }
    </script>
</head>
<body>
    <div class='nav'>
        <h3> {% trans "Recent Results" %} </h3>
    </div>
    <div>
        <table class='tc' style='font-size:12px;'>
        {% for g in games %}
            <td><a target='_blank' href='{{ g.url }}'>
                <img alt='{{ g.name }}' class='std' 
                    src='{{ g.icon|default_if_none:"favicon.ico" }}'></img></a><br>
                <a target='_blank' href='{{ g.url|default_if_none:"/" }}'>{{ g.name }}</a><br>
                <!-- don't show sns source {{ g.src }} <br> -->
                    {{ g.lvl }} <br> 
                    <script type="text/javascript">
                        formatTime({{g.tms.hour}}, {{g.tms.minute}}, {{g.tms.second}});
                    </script> <br>
                    {{ g.res }}
            </td>
            <td>&nbsp;</td>
        {% endfor %}
        </table>
    </div>
</body>
</html>

